<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Room Availability</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <style>
        .info-container {
            padding-top: 20px;
        }
        .theme-selector-container {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Aligns the theme picker to the right */
        }
        .theme-selector-container label, .theme-selector-container select {
            margin-bottom: 0;
        }
        .text-left-md {
            text-align: left; /* Left align on medium and larger screens */
        }
        .text-center-xs {
            text-align: center; /* Center align on smaller screens */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function changeTheme(theme) {
            document.body.className = theme;
            localStorage.setItem('selectedTheme', theme);
            document.getElementById('theme-selector').value = theme;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const savedTheme = localStorage.getItem('selectedTheme') || 'default-theme';
            document.body.className = savedTheme;
            document.getElementById('theme-selector').value = savedTheme;
        });

        async function fetchAvailability() {
            try {
                const response = await fetch('/api/availability');
                const data = await response.json();

                const container = document.getElementById('availability-container');
                container.innerHTML = '';

                data.availability.forEach((room, index) => {
                    const availableDates = room.availability.filter(entry => entry.is_available).map(entry => entry.date);
                    const availableText = availableDates.length ? `Available Dates: ${availableDates.join(', ')}` : 'No Available Dates';
                    const roomHeader = `Room: ${room.name} - ${availableText}`;

                    const roomDiv = document.createElement('div');
                    roomDiv.classList.add('room', 'card', 'mb-3');

                    roomDiv.innerHTML = `
                    <div class="card-header" id="heading${index}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse${index}" aria-expanded="true" aria-controls="collapse${index}">
                                ${roomHeader}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse${index}" class="collapse" aria-labelledby="heading${index}" data-parent="#availability-container">
                        <div class="card-body">
                            ${room.availability.map(entry => `
                                <p class="card-text" style="color: ${entry.is_available ? 'green' : 'red'};">Date: ${entry.date} - Available: ${entry.is_available ? 'Yes' : 'No'} - Price: $${entry.price}</p>
                            `).join('')}
                        </div>
                    </div>
                `;
                    container.appendChild(roomDiv);
                });

                const lastCheckedDiv = document.getElementById('last-checked');
                if (lastCheckedDiv) {
                    lastCheckedDiv.textContent = `Last checked: ${new Date(data.last_checked).toLocaleString()}`;
                }

                const lastRefreshedDiv = document.getElementById('last-refreshed');
                if (lastRefreshedDiv) {
                    lastRefreshedDiv.textContent = `Last refreshed: ${new Date().toLocaleString()}`;
                }
            } catch (error) {
                console.error('Error fetching availability:', error);
            }
        }

        window.onload = fetchAvailability;
        setInterval(fetchAvailability, 60000);
    </script>
</head>
<body class="default-theme">
<h1 class="text-center">Room Availability</h1>
<div id="more-info" class="text-center mt-3">
    <p>
        For more information and to explore the hotel's availability directly, visit
        <a href="https://lochlevenlodge.client.innroad.com/grid" target="_blank">Loch Leven Lodge</a>.
    </p>
</div>

<div id="availability-container" class="accordion"></div>

<!-- Grid container for timestamps and theme selector -->
<div class="container info-container mt-3">
    <div class="row align-items-center">
        <div class="col-md-4 col-12 text-left-md text-center-xs mb-2" id="last-checked"></div>
        <div class="col-md-4 col-12 text-left-md text-center-xs mb-2" id="last-refreshed"></div>
        <div class="col-md-4 col-12 theme-selector-container mb-2">
            <label class="mr-2" for="theme-selector">Select Theme:</label>
            <select class="form-control" id="theme-selector" onchange="changeTheme(this.value)">
                <option value="default-theme">Default</option>
                <option value="dark-theme">Dark</option>
                <option value="green-theme">Green</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>
